@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    --body-font: "Poppins", sans-serif;


    /* font size */
    --big-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /* font weight */
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /* colors */

    --hue-color: 25;
    --text-color: white;
    --body-color: gray;
    --primary-color: hsl(var(--hue-color), 100%, 50%);
    --primary-color-alt: hsl(var(--hue-color), 50%, 30%);
    --secondary-color: hsl(var(--hue-color), 15%, 20%);
    --tertiary-color: hsl(var(--hue-color), 10%, 10%);

    --column-width: 9rem;

    --transition-time: .5s;
}

* {
    box-sizing: border-box;
}

html {
    font-family: var(--body-font);
}

body {
    scroll-behavior: smooth;
    margin: 0;
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
}



p {
    color: var(--text-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-normal);
}

button {
    color: var(--text-color);
    fill: var(--text-color);
    background: var(--primary-color-alt);
    padding: .9rem 1.19rem;
    border-radius: 1rem;
    cursor: pointer;
}

button:hover {
    background: var(--primary-color);
}


/* utilities */
.primary__color {
    background-color: var(--primary-color);
}

.secondary__color {
    background-color: var(--secondary-color);
}

.tertiary__color {
    background-color: var(--tertiary-color);
}



/* main */

.main {
    position: fixed;
    width: 100%;
    height: 100%;

}

.container {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    margin: auto;
}

.toolbar {
    width: var(--column-width);
    background: var(--tertiary-color);
    height: 100dvh;
    padding: .5rem 0;
    overflow-x: hidden;
    transition: var(--transition-time);
}


.toolbar__item,
.toolbar__item-2 {
    width: 100%;
    border-radius: 1.5rem;
    padding: 1rem;
    background: var(--secondary-color);
    border: solid 3px var(--tertiary-color);
    text-align: center;
    cursor: pointer;
    transition: var(--transition-time);
}

.toolbar__item {
    opacity: 0.7;
    filter: blur(.5px);
    aspect-ratio: 1;
    transition: var(--transition-time);
}

.description {
    transition: var(--transition-time);
}


.toolbar__item:hover,
.toolbar__item-2:hover {
    filter: blur(0px);
    background-color: var(--primary-color);
    transition: calc(var(--transition-time)/1.2);
}

.toolbar__item:hover {
    opacity: 1;
}

.toolbar__item .active:hover {
    background-color: var(--tertiary-color);
    opacity: 1;
    transition: var(--transition-time);
}

.toolbar__item:hover .description,
.toolbar__item:hover .icon-resizing {
    scale: 1.2;
    transition: var(--transition-time);
}

.toolbar__item:hover .description {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-skip-ink: auto;
}

.toolbar__item:hover .icon-resizing {
    rotate: -340deg;
    transition: var(--transition-time);
}


/* when tool is active */
.active {
    opacity: 1;
    filter: blur(0px);
    background-color: var(--tertiary-color);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-skip-ink: auto;
    transition: var(--transition-time);
}


.second__toolbar {
    display: none;
    flex-direction: column;
    padding: 1rem;
    border-radius: 2rem;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    right: var(--column-width);
    width: max-content;
    background: var(--tertiary-color);
    transition: var(--transition-time);
    z-index: 1500;
}


.show {
    display: flex;
    opacity: 1;
    transition: var(--transition-time);
}

.text__list .toolbar__item-2:hover {
    background-color: var(--secondary-color);
    transition: calc(var(--transition-time)/ 2);
}

.text__input {
    width: 100%;
    height: 4rem;
    border-radius: 1rem;
    padding-left: .5rem;
    padding-top: .5rem;
    white-space: pre-line;
}

.text__description {

    text-align: start;
    margin-right: 1.5rem;
}

.text__group {
    justify-content: space-around;
    display: flex;
    margin-bottom: 2rem;
}

.paragraph {
    padding: 1rem .5rem;
    margin-left: .5rem;
    border-radius: 1rem;
    background-color: var(--tertiary-color);
    transition: var(--transition-time);
}

.text__color {
    height: 2rem;
    margin-right: 3rem;
}

.paragraph__group {
    display: flex;
    margin-left: 1rem;
}

.paragraph:hover {
    background-color: var(--primary-color);
}

.stay__active {
    background-color: var(--primary-color);
    transition: .2s;
}

.icon-resizing {
    width: 2rem;
    aspect-ratio: 1;
    transition: var(--transition-time);
}

.icon-resizing-2 {
    width: 4rem;
    aspect-ratio: 1;
}

.icon-resizing-3 {
    position: relative;
    width: 1.5rem;
    aspect-ratio: 1;
    top: 4px;
}


.icon-color {
    fill: var(--text-color);
}

.icon-stroke {
    stroke: var(--text-color);
}



.content {
    width: 100%;
    height: 100dvh;
    background: var(--tertiary-color);
}

.logo {
    position: relative;
    top: 1rem;
    left: 2rem;
    z-index: 100;
}

.choose__img {
    position: relative;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    text-align: center;
    padding: 3rem 2rem;
    border: medium dashed var(--text-color);

}

.upload__img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.img__holder {
    display: none;
    position: absolute;
    height: 70%;
    width: calc(100% - calc(var(--column-width) + 3rem));
    left: 2rem;
    top: 5rem;
    margin: auto;
    background: var(--secondary-color);
    border-radius: 2rem 0 2rem 2rem;
    /* overflow: hidden; */
}

.img__holder[visibility="true"] {
    display: block;
}

.img__editing {
    position: relative;
    transform: translate(0%, 35%);
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img__text {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    left: 2rem;
    z-index: 1000;

}

.tools {
    display: flex;
    position: absolute;
    width: calc(100% - calc(var(--column-width) + 3rem));
    left: 2rem;
    bottom: 2rem;
    margin: auto;
    justify-content: space-between;
    opacity: 1;
    pointer-events: auto;
}

.disabled {
    opacity: .5;
    pointer-events: none;
}

.slider__container {
    width: 13rem;
    display: none;
}

.slider__container[visibility="true"] {
    display: block;
}

.slider__description {
    display: flex;
    justify-content: space-between;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .4s;
    transition: opacity .4s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    aspect-ratio: 1;
    border-radius: 10px;
    background: var(--primary-color);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    aspect-ratio: 1;
    border-radius: 10px;
    background: var(--primary-color);
    cursor: pointer;
}

.text__btn-group {
    text-align: end;
}

.btn__remove {
    position: absolute;
    top: -4.5em;
    right: 0;
    border-radius: 1rem 1rem 0rem 0rem;
}

.btn__spacing {
    margin-left: 1rem;
}

.btn__gap {
    margin-right: .5rem;
}

.btn__label {}

/* mobile */
@media screen and (max-width: 800px) {

    :root {
        --column-width: 6rem;
    }

    .container {
        flex-direction: column;
    }

    .toolbar {
        display: flex;
        width: 100%;
        height: var(--column-width);
        padding: .5rem 0;
        overflow: hidden;
    }

    .toolbar__item,
    .toolbar__item-2 {
        display: flex;
    }

    .btn__label {
        display: none;
    }

    .toolbar__item:hover .description {
        display: block;
        transition: var(--transition-time);
    }

    .active .description {
        display: block;
    }

    .active {
        /* aspect-ratio: auto; */
        height: 100%;
        width: calc(var(--column-width) + 2.5rem);
        transition: var(--transition-time);
    }

    .toolbar__item:hover {
        aspect-ratio: auto;
        height: 100%;
        width: calc(var(--column-width) + 2.5rem);
        transition: var(--transition-time);
    }

    .description {
        margin-left: 1rem;
        display: none;
        position: relative;
        top: -.75rem;
    }

    .rotate__list {
        flex-direction: row;
        height: min-content;
        bottom: 3rem;
        top: calc(100% - calc(var(--column-width) * 2));
        bottom: 3rem;
        right: var(--column-width);
        width: max-content;
    }

    .text__list {}

    .slider__container,
    .rotate__list {
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: var(--column-width);
    }

    .btn__export {
        position: fixed;
        top: 1rem;
        right: 1rem;
    }

    .btn__reset {
        position: fixed;
        bottom: calc(var(--column-width) - .5rem);
        right: 1rem;
    }

    .btn__remove {
        position: absolute;
        top: -4.5em;
        left: 50%;
        width: max-content;
    }

    .img__holder {
        position: fixed;
        height: calc(100% - (var(--column-width) * 2.5));
        width: auto;
        left: 1rem;
        right: 1rem;
    }
}